


.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
/* this is the background image */
body {
  background-image: url('Valley.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* this is my logo title at the top of page */
.wanderlust {
  margin-top:20px;
}
/* this is my name under my logo title */
.name{
  color:black;
  font-family: bradley hand;
  font-size: 20px;
}
/* this is the box that my logo, name and nav links are inside of */
.head {
  margin-top: 30px;
  margin-bottom: 50px;
  background:rgba(255,255,255, 0.7);
  border-radius: 25px;
  text-align: center;
  height: 300px;
  width: 100%;
 
}
/* nav links are centered, colored blue, hover color green, and aligned in center of head box */
.navlinks {
  text-align: center;
  font-size: 25px;
  color: rgb(70, 174, 10);
}
.navlinks a{
  margin: 20px;
  margin-bottom: 10px;
}
.aligncenter {
  text-align: center;
}
a:link {
  color:blue;
}
a:visited {
  color: white;
}
a:hover {
  color:rgb(115, 247, 97);;
}
a:active {
color:aqua;
}

/* this is positioning and borders for the two photos of me at the top of page */
.faces img{
 position: block;
  margin-top: 50px;
  margin: 20px;
  max-width: 960px;
  border-radius: 25px;
  border: 3px solid white;
}

/* the following are styles for all my headings, paragraphs, and lists */
h4 {
  text-align: center;
  color: black;
}
h2 {
  font-size: 24px;
  font-family:Architects Daughter;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-family: Architects Daughter, didot;
  color: black;
  text-align: center;
}
h4 {
  color: black;
  font-size: 30px;
  font-family: didot;
}

p, ul, ol {
  text-align: center;
  font-size: 20px;
  font-family: didot;
}

.icons {
  text-align: center;
  width: 100%;
}
 .icons a{
  margin: 20px;
 } 
/* transparent box for the first section intrucing me */
.aloha {
  background:rgba(255,255,255, 0.7);
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
/* transparent box for the about me section */
.about {
  background:rgba(255,255,255, 0.7);
   border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
/* transparent box for the ways to get in touch with me section */
.getintouch {
  background:rgba(255,255,255, 0.7);
   border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  width:700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

#alohatitle{
  color:rgb(70, 174, 10);
  font-size: 30px;

}
#abouttitle{
  color:rgb(70, 174, 10);
    font-size: 30px;
}
#educationtitle{
  color:rgb(70, 174, 10);
    font-size: 30px;
}
#touchtitle{
    color:rgb(70, 174, 10);
      font-size: 30px;
}
/* this is the geometry star between my horizontal lines */
.geometry{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
.email a{
  color: blue;
}
  
/* the transparent box for my footer message */
.foot {
  background:rgba(255,255,255, 0.7);
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  width: 300px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;

